$body-bg: #d4cacc;

$primary: #1d46ce;
$secondary: #06ad00;
$danger: #fd0505;
$success: #2cb843;
$warning: #ff9123;
$info: rgb(133, 145, 145);
$dark: black;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: rgb(0, 0, 0);
$red: red;
$orange: orange;
$yellow: yellow;
$green: rgb(45, 180, 45);
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: ("blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;